* {

}
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}
body { /* changes all body text to black */
    color:black;
}
h1 {
   color:rgb(100,255,255);
}
div h1 {
    color:#000;
}
.goals:hover {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}
.goals:active {
    background-color: #34ebc6; 
}
.goals {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
#comments {
    position: relative;
    top: 0px;
    font-family: "Roboto";
    color: hsl(241, 26, 26);
    border-style:solid;
    background-color:whitesmoke;
    border-radius: 10ex 10ex 10em 10em;
    margin: 10px auto 10px;
    width: 200px;
    height: 150px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.interests, .form{
    border-style: solid;
    border-radius: 10% 10% 50% 70%;
    border-color: whitesmoke;
    border-width: 1ch;
    margin-top: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
    padding: auto;
}
label {
    background-color: white;
    display: inline-block;
}
[attribute=for] {
    border-style: none;
    border-width: 0cm;
}
video {
    max-width:75%;
}
p:hover {
    border-style:hidden;
    border-width: 0mm;
}
form.user-goals {
    display: block flex;
    border-style:hidden;
    border-width: 0in;
}
@media only screen and (max-width:1000px) {
    video {
        content: 0px;
    }
}
#feeling > option {
    border-style: none;
}
figcaption + blockquote {
    border-style: none;
}
video ~ source {
    border-style: hidden;
}