* {

}
body { /* changes all body text to black */
    color:black;
}
h1 {
   color:rgb(100,255,255);
}
div h1 {
    color:#000;
}
#comments {
    font-family: "Roboto";
    color: hsl(241, 26, 26);
    border-style:solid;
    background-color:whitesmoke;
    border-radius: 10ex 10ex 10em 10em;
    margin: 10px auto 10px;
    width: 200px;
    height: 150px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.interests, .form{
    border-style: solid;
    border-radius: 10% 10% 50% 70%;
    border-color: whitesmoke;
    border-width: 1ch;
    margin-top: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
    padding: auto;
}
label {
    background-color: white;
    display: inline-block;
}
[attribute=for] {
    border-style: none;
    border-width: 0cm;
}
p:hover {
    border-style:hidden;
    border-width: 0mm;
}
form.user-goals {
    display: block flex;
    border-style:hidden;
    border-width: 0in;
}
#feeling > option {

}
figcaption + blockquote {

}
video ~ source {

}